

<h1>
  AGREGAR EVIDENCIAS
</h1>

<form>
  <div class="mb-3">
    <label class="form-label">CASOS</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Seleccionar caso</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>


  <div class="mb-3 row">
    <label  class="form-label">EVIDENCIAS</label>
    <div class="col-sm-4">
      <input class="form-control image" i type="file" >
      <label  class="form-label">DESCRIPCIÓN</label>
      <textarea type="text" class="form-control"  ></textarea>
    </div>
    <div class="col-sm-4">
      <input class="form-control image"  type="file" >
      <label  class="form-label">DESCRIPCIÓN</label>
      <textarea type="text" class="form-control"  ></textarea>
    </div>
    <div class="col-sm-4">
      <input class="form-control image"   type="file" >
      <label  class="form-label">DESCRIPCIÓN</label>
      <textarea type="text" class="form-control"  ></textarea>
    </div>

  </div><div class="mb-3 row">

  <div class="col-sm-4">
    <input class="form-control image" i type="file" >
    <label  class="form-label">DESCRIPCIÓN</label>
    <textarea type="text" class="form-control"  ></textarea>
  </div>
  <div class="col-sm-4">
    <input class="form-control image"  type="file" >
    <label  class="form-label">DESCRIPCIÓN</label>
    <textarea type="text" class="form-control"  ></textarea>
  </div>
  <div class="col-sm-4">
    <input class="form-control image"   type="file" >
    <label  class="form-label">DESCRIPCIÓN</label>
    <textarea type="text" class="form-control"  ></textarea>
  </div>

</div>





  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <button type="submit" class="btn btn-danger">CANCELAR</button>
    </div>
    <div class="col-2"></div>
    <div class="col-4 ">
      <button type="submit" class="btn btn-primary ">AGREGAR</button>
    </div>
  </div>
</form>

